html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding-top: 50px;   /* the size of the padding-top need to be the one of the navbar */
}

.bodyContainer {
	height:100%;
	width: auto;  /* need to overwrite the width set by bootstrap */
}

.mapContainer {
  height: 100%; 
}

div#map {
  height: 100%;   /* to specify the full height for the map, works only if height is set in body and parent divs */ 
  background-color: #b5d0d0; 
  padding-right: 0px;   /* need to overwrite the padding-right and padding-left set by bootstrap */
  padding-left: 0px;
}

div#panel {
  position: absolute;
  bottom: 0px;
  height: calc(100% - 50px); /* calc is used to substract the height of the navbar */
  width: 300px;
  background-color: #999;
  opacity: 0.97;
  transition: 0.8s;
  z-index: 1;
}


