/* body */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding-top: 50px;   /* the size of the padding-top need to be the one of the navbar */
}

/* Main containers */
.header{
   -webkit-box-shadow: 0 5px 15px rgba(1,1,1,.7);  /* makes a grey shadow below the navbar */
   box-shadow: 0 5px 15px rgba(1,1,1,.7); 
}

.bodyContainer {
	height:100%;
	width: auto;  /* need to overwrite the width set by bootstrap */
}

.mapContainer {
  height: 100%; 
}


/* navbar custom properties */
.navbar-nav>li, .navbar-nav {
  float: left !important;       /* to remove the default behavior of bootstrap of setting the menu in two lines in mobile view */
}

.navbar-nav {
  margin-left: auto;
  margin-right: 4px;
}

@media all and (max-width: 768px) {
	.navbar-nav {
     margin-top: 5px;
     margin-bottom: -5px;
   }
}

.navbar-right {
  float: right !important;   /* to correct the float:left !important set in the navbar-nav>li above */
}

.nav-icon {
  height: 20px;
}

/* Main panels */

div#map {
  height: 100%;         /* to specify the full height for the map, works only if height is set in body and parent divs */ 
  background-color: #b5d0d0; 
  padding-right: 0px;   /* need to overwrite the padding-right and padding-left set by bootstrap */
  padding-left: 0px;
}

div#graph {
  height: 100%;         /* to specify the full height for the map, works only if height is set in body and parent divs */ 
  background-color: #ddd; 
  padding-right: 0px;   /* need to overwrite the padding-right and padding-left set by bootstrap */
  padding-left: 310px;  /* need to set the graph at the right of the panel by default */
  padding-top: 40px;
}

div#panel {
  position: absolute;
  top: 50px;
  padding-top: 8px;          /* needed to move the content below the gray shadow specified in the header */
  height: calc(100% - 50px); /* calc is used to substract the height of the navbar */
  width: 300px;
  background-color: #fafafa;
  opacity: 0.92;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  z-index: 1;
}

div#collapseBtnXs{
   position: absolute;
   bottom: 10px;
   left: 10px;
   z-index:2;
}

div#collapseBtnXs button {
  font-weight: bold;
}

div#collapseBtn {
  float:right;
  margin-top: 3px;
  margin-right: 3px;
  font-weight: bold;
}

div#collapseBtn button {
  font-weight: bold;
}

div#panelContent {
  opacity: 1;
  height: inherit;   /* better than height: 100% */
  width: 100%;
  overflow: auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
  
div#panelButtons button{
  margin-top: 4px;
}

div#legend {
  margin-top: 40px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

div#legend p{
  font-weight: bold;
}

@media all and (max-width: 768px) {
  div#panel {
  	 width: 0px;
  	 }
  div#panelContent{
  	 opacity: 0;
  }
  div#graph{
    padding-left: 10px;  
  }
}

/* OpenLayers controls */

.ol-zoom {
   right: 8px;
   top: 12px;
   left: auto;      /* needed to avoid the background-color of the ol zoom control spanning from the left side of the screen */
}

@media all and (max-width: 768px) {
  .ol-zoom {
     top: initial;   /* needed to clear the top property specified by OpenLayers */
     right: 8px;
     bottom: 6px;
     left: auto;   /* needed to avoid the background-color of the ol zoom control spanning from the left side of the screen */
   }
}

.ol-scale-line {
	right: 40px;
	left: auto;
}

/* Loading cursor */
body.loading *{
	cursor:progress !important;
}

.loading *{
	cursor:progress !important;
}

/* Modal window for tables of data */

.modal-body tr{
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th  {
   background-color: #ddd; 
 }
 
/* Graphs */
/* for histogram */
.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}